boto3==1.43.11
botocore==1.43.11
fastapi==0.111.0
mangum==0.17.0
python-dotenv==1.0.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1
starlette==0.37.2
uvicorn==0.29.0
uvloop==0.22.1
